<%= render :partial => @post %>
<p>
  <%#= link_to 'Edit', edit_post_path(@post) %>
  <%#= link_to 'Destroy', @post, :method => :delete, :confirm => "Are you sure?" %>
  <%#= link_to 'See All Posts', posts_path %>
</p>

<h2>Comments</h2>
<div id = "comments">
  <% @post = Post.find(:first) %>
  <%= render :partial => @post.comments.find(:all, :order => :created_at) %>
</div>

<% form_for [@post, Comment.new] do |f| %>
  <p>
  <%= f.label :body, "New comment" %><br />
  </p>
  <p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
  </p>
  <p>
  	<%= f.label :email %><br />
  <%= f.text_field :email %>
  </p>
  <p>
      	<%= f.label :body %><br />
  <%= f.text_area :body %>

  </p>
  <p> <%= f.submit "Add Comment" %></p>
<% end %>